/modelsim/
/opcode.xlsx
~$opcode.xlsx
resource_code/.VSCodeCounter/details.md
resource_code/.VSCodeCounter/results.csv
resource_code/.VSCodeCounter/results.md
resource_code/.VSCodeCounter/results.txt
resource_code/.VSCodeCounter/results.csv
